@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Lato:ital,wght@0,300;0,400;0,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* variebles */
:root{
    --primary-color: #13b1cd;
    --dark-color: #333;
    --light-gray: #f4f4f4;
    --light-color: #fff;
    --height-space: 1.5rem;
    --main-space: 1.90;
}

body{
    font-family: 'Ubuntu', sans-serif;
    line-height: var(--height-space);
    position: relative;
}

.head{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 80px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .06);

}

.head .container{
    height: 100%;
    color: var(--dark-color);
}

.open-menu,
.close-menu{
    padding-right: 10px;
    cursor: pointer ;
    color: black;
    /* font-weight: 100; */
}

.close-menu{
    color: #f4f4f4;
    padding-right: 30px;
    /* opacity: 0;
    transform: translateX(100%);
    transition: all .4s linear */
}

.toggled-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .979);
    opacity: 0;
    visibility: hidden;
    transition: all .4s .4s linear;
}

.toggled-menu.active{
    opacity: 1;
    visibility: visible;
    transition: all .3s linear;
}

.open-menu.disappear{
    /* opacity: 0;
    transform: rotate(10deg);
    transition: trasnform .3s linear, opacity .3s linear; */
    opacity: 0;
    visibility: 0;
}

.nav-container.flex{
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    /* height: 80px; */
    align-items: center;
    padding: 30px 0;
    color: #fff;
}

.navbar-flex.flex{
    height: 100%;
    width: 90%;
    margin: auto;
    /* background-color: yellow; */
    justify-content: end;
    align-items: start;
}
.navbar.flex{
    margin-top: 20px;
    height: 60%;
    /* background-color: var(--light-color); */
    width: 100%;
    max-width: 400px;
    justify-content: space-between;
    align-items: start;
    text-align: end;
}

/* showcase */
#showcase.bg-image{
    width: 100%;
    height: 100vh;
    background: url('../img/1920x1080/02.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */background-position-y: top;
    background-position-x: center;
    background-size: cover;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
}

#showcase .container{

    text-align: center;
    z-index: 1;
    background: transparent;
    margin-bottom: 4rem;
    line-height: 1.5;
    /* background: orangered;*/
} 

#showcase .container.flex{
    flex-direction: column;
}

#showcase .showcase-info{
    width: 60%;
    margin: 0 auto;
    /* background-color: skyblue; */
}
#showcase p:nth-of-type(1){
    /* font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
    text-transform: uppercase; */
    padding-bottom: 1rem;
    color: #c8c5c5;
}
#showcase p:nth-of-type(2){
    font-size: 26px;
    font-weight: 100;
    color: #c8c5c5;
    text-align: center;

}

#showcase h2{
    font-size: 60px;
    font-weight: 100;
    color: #c8c5c5;
    /* word-spacing: .5rem; */
}

/* about projects */
.events{

}

.events .about-cul{
    width: 85%;
    margin: 0 auto;
    /* background-color: yellow; */
}

.about-cul .images{
    width: 43%;
    margin: 0 auto;
}
.about-cul .images img{
    width: 49%;
}

.about-cul .about-cult{
    width: 42%;
    min-height: 200px;
    padding: 0 16px; 
}


.about-cul:nth-of-type(2) .images{
    padding-left: -5px;
}

.about-cul .about-cult:nth-of-type(1){
    margin-left: 40px;
    text-align: end;
}

#process{
    background-image: linear-gradient(145deg, rgba(19, 177, 205, 0.6) 0%, #13b1cd 100%);
    text-align: center;
    color: #fff;
}

#process .container{
    width: 75%;
    margin: 0 auto;
    /* background-color: yellow; */
}

#process .processes{
    margin: 100px 0;
    /* background: blue; */
    grid-template-columns: repeat(4, 1fr);
    /* column-gap: 50px; */
    color: #fff;
}


.processes .steps{
    width: 80%;
    margin: 0 auto;
    color: #fff;
}
.icon{
    position: relative;
}

.processes .steps .icon div:nth-of-type(1){
    font-size: 2.5rem;
    /* font-weight: 100; */
    width: 95px;
    height: 95px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 50px;
    background-color: #f4f4f4;
    color: #13b1cd;
    text-align: center;
    line-height: 100px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

.icon .number-line{
    position: absolute;
    top: 40%;
    left: 60%;
    width: 100%;
    height: .0125rem;
    background: #9bb4f1;
}

#process .heading:nth-of-type(1){
    color: #eee;
}

.processes .steps div:nth-of-type(2) .heading{
    color: #fff;
    text-transform: capitalize;
    font-size: 1.125rem;
    padding-bottom: .5rem;
    letter-spacing: .1rem;
}
#process .btn-secondary{
    background-color: #fff;
    color: #333;
}
/* blogs */

#blog{
    background-color: #f4f4f4;
    text-align: center;
}

.cards-container.grid-3{
    row-gap: 0;
}

.card:nth-of-type(1){
    height: 100px;
    background-color: #fff;
}

/* newsletter */
#newsletter{
    background-color: #242526;
    text-align: center;
    color: #fff;
}

#newsletter.py{
    padding: 6rem;
}

#newsletter .heading{
    color: #fff;
}

#newsletter .form-control{
    
    width: 75%;
    margin: 50px auto;
    /* background-color: blue; */
}

.form-control .my-form{
    width: 370px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: orangered; */
}
.my-form input{
    font-size: 1.2rem;
    width: 90%;
    /* flex: 1; */
    height: 55px;
    padding: 20px;
    padding-left: 30px;
    border: 1px solid #fff;
    border-right: none;
    background-color: transparent;
    color: #fff;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.my-form input:focus{
    outline: none;
}

.my-form input::placeholder{
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
}

.my-form .enter{
    background-color: transparent;
    color: #fff;
    font-weight: 100;
    padding: .9rem;
    padding-right: 20px;
    border: 1px solid #fff;
    border-left: none;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

#main-footer{
    padding: 80px 15px;
    color: black;
    background-color: #222324;
    border-bottom: 1px solid rgb(60, 59, 59);
}

#main-footer .footer-info{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 75%;
    margin: 0 auto;
    /* background: orangered; */
    
}

.footer-info .footer-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:45%;
    /* background: blue; */
}

.footer-info .goals{
    width: 35%;
    background: url('../img/widgets/worldmap.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

}

.goals .heading{
    padding: 0;
}

.goals p:nth-of-type(2){
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
}


#main-footer a{
    font-size: 1rem;
    font-weight: 300;
    padding: 7px 0;
    color: #fff;
    display: block;
    transition: all .3s linear;
}

#main-footer a:hover{
    color: #13b1cd;
    transition: all .3s linear;
}

.referrence{
    padding: 45px 0;
    background-color: #222324;
}

.referrence.py-1{
    padding: 2rem;
}

.referrence .referrence-info{
    width: 75%;
    margin: 0 auto;
}

.referrence-info .ref{
    font-size: .85rem;
    color: #fff;
    font-weight: 300;
    /* background-color: blue; */
}

.ref span{
    color: #13b1cd;
}

/* the team page */
.showcase{
    height: 60vh;
    
    background: url('../img/1920x1080/09.jpg');background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

.showcase .showcase-info .heading{
    color: #fff;
}

.showcase h2{
    font-size: 60px;
    font-weight: 100;
    color: #c8c5c5;
    padding: 20px 0 ;
}

/* founder */
#founders .founder,
#founders .ceo{
    width: 70%;
    margin: 0 auto;
    text-align: start;
    /* height: 200px; */
    /* background-color: #13b1cd; */
    position: relative;
}

#founders.py{
    padding-top: calc(7.8rem - 6rem);
}

.founder .card-header,
.ceo .card-header{
    height: 390px;
    background: orange;
}

.founder .card-image, .ceo .card-image{
    width: 100%;
    height: 100%;
}


/* .founder.card,
.ceo.card{
    box-shadow: none;
} */

.founder.card .ceo.card{
    box-shadow: 1px 1px 1-px rgba(0, 0, 0, .4);
}

.founder .card-body .body-info, 
.ceo .card-body .body-info{
    width: 83%;
    color: black;
    /* background-color: orange; */
}

.founder .body-info .heading,
.ceo .body-info .heading{
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .1rem;
    padding-bottom: 20px;
    line-height: 1;
    color: #333;
}

.founder .body-info .card-text,
.ceo .body-info .card-text{
    color: #575859;
    font-size: .95rem;
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 15px;
}

.founder .boss-name,
.ceo .boss-name{
    font-size: 1.8rem;
    width: 70%;
    margin: 0 auto;
    padding: 15px 10px;
    background-color: #13b1cd;
    color: #fff;
    
}

.founder .boss-name{
    position: absolute;
    top: 336%;
    left: 15%;
}

.ceo .boss-name{
    position: absolute;
    top: 60%;
    left: 15%;
}

/* the team */
#the-team .container{
    width: 100%;
    margin: 0 auto;
}

.team .team-info{
    /* background-color: blue; */
    text-align: center;
    transition: .2s linear;
    cursor: pointer;
}

.team .team-info:hover{
    box-shadow: 0 1px 7px rgba(0, 0, 0, .2);
    transition: .3s linear;
}

.team-info div{
    width: 80%;
    margin: 35px auto;
    /* background-color: orangered; */
}

.team-info div .team-member{
    font-size: 1.1rem;
    font-weight: 500;
    color: #181819;
}

.team-info div p:nth-of-type(2){
    font-size: .95rem;
    font-weight: 100;
    padding-top: 10px;
    color: #807b7b;
}

#the-team.py-1{
    padding-bottom: 0;
    padding-top: 3rem;
    /* background-color: blue; */
}

/* form */
#contact-d{
    background-color: #242526;
    text-align: center;
    color: #fff;
    position: relative;
}

#contact-d.py-1{
    padding-bottom: 4rem;
}

#contact-d .contacts-details{
    width: 65%;
    margin: 30px auto;
    /* background-color: orangered; */
}

.contacts-details.grid-3{
    column-gap: 0;
}

.contacts-details .mail,
.contacts-details .address,
.contacts-details .number{
    width: 70%;
    margin: 0 auto;
    padding: 12px 0;
    /* background-color: yellow; */
}

.contacts-details i{
    font-size: 3rem;
    font-weight: 100;
    padding: 15px 0;
    color: #fff;
}

.contacts-details div div p{
    font-weight: 1rem;
    font-weight: 400;
    padding: 5px 0;
    /* background-color: blue; */
}

#contact-d .form-control{
    width: 75%;
    margin: 5rem auto;
    /* background-color: orangered; */
}

#contact-d .form-control .myForm{
    width: 55%;
    margin: 0 auto;
    /* background-color: yellowgreen; */
}

#contact-d .myForm input, textarea{
    font-size: 1.1rem;
    font-weight: 100;
    width: 95%;
    margin: 0 auto;
    border: none;
    margin: 40px 15px;
    padding: 15px 0;
    background-color: transparent;
    color: #9a9999;
    border-bottom: 1px solid#9a9999;
    /* padding: 0 40px; */
}

#contact-d .myForm input:focus{
    outline: none;
    color: #fff;
}

#contact-d .myForm textarea{
    height: 125px;
    font-size: 1.08rem;
}

#contact-d .myForm textarea:focus{
    outline: none;
    color: #fff
}

#contact-d .myForm input::placeholder, textarea::placeholder{
    color: #9a9999;
    font-weight: 100;
}

#contact-d .myForm div input{
    /* display: inline;  */
    width: 90%;
    margin: 0 auto;
}

#contact-d .myForm div.grid-2{
    column-gap: 15px;
    border-color: #333232;
}

#contact-d .myForm .btn-secondary{
    margin-top: 50px;
    font-weight: 200;
    color: #333;
    background-color: #fff;
}
#contact-d .myForm .btn-secondary:hover{
    color: #13b1cd;
}

#contact-d .pencil-img{
    width: 20%;
    /* margin: 20px 0; */
    position: absolute;
    bottom: 6%;
    left: 5%;
    /* background-color: blue; */
}

#contact-d .pencil-img .pencil-01{

}


