/* li and links */

li{
    list-style: none;
    padding: 10px 0;
}

a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    color: #b6aaaa;
    cursor: pointer;
    transition: .4s ease-in;
}

i{
    display: block;
    font-size: 1.8em;
    font-weight: 100;
}

.container{
    /* background-color: antiquewhite; */
    width: 95%;
    /* max-width: 1100px; */
    margin: 0 auto;
}

.nav-container{
    width: 90%;
    margin: a auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 100px;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.buttons{
    margin: 3.5rem 0;
    width: 355px;
    text-align: center;
    /* background-color: blue; */
}

.buttons.flex{
    justify-content: space-between;
    align-items: center;
}

.btn{
    font-size: 15px;
    font-weight: 200;
    background-color: skyblue;
    color: #fff;
    border: none;
    padding: 20px 0;
    width: 170px;
    border-radius: 50px;
    text-transform: uppercase;
}

.btn-primary{
    background-color: rgb(3, 124, 246);
}

.btn-secondary{
    background-color: transparent;
    /* padding: 20px 40px; */
    border: 1px #fff solid;
    transition: .5s ease-in-out;
}

.btn-secondary:hover{
    background-color: #cbcaca;
    color: #333;
}

.py{
    padding: 7.8rem 0;
}

.py-1{
    padding: 6rem 0;
}



img{
    width: 100%;
}

.heading{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary-color);
    color: #13b1cd;
    padding: 1.7rem 0;
    letter-spacing: .125rem;
}

h3{
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

h5{
    font-size: 1.15rem;
    font-weight: 500;
}

input, textarea{
    display: block;
}



.about-cult h3,
#process h3{
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

.about-cul p:nth-of-type(2){
    font-size: 1.2rem;
    font-weight: 300;
    color: #656565;
    line-height: 1.5;
}

.cards-container{
    width: 75%;
    margin: 0 auto;
    margin-top: 70px;
    /* background-color: orangered; */
}

.card{
    width: 93%;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    transition: all .3s linear;
}
/* .card:hover{
    transition: all .3s linear;
    transform: scale(.95);
} */
.card-body{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

.body-info{
    width: 70%;
    margin: 0 auto;
    height: auto;
}


.card-link{
    font-weight: 400;
    padding: 100px 0;
    color: #000;
}
.card-link:hover{
    transition: all .4s linear;
    /* background-color:#000; */
    color: #13b1cd;
}

.card-text{
    font-size: .9rem;
    font-weight: 200;
    padding-top: 15px;
    padding-bottom: 50px;
    color: #a2a0a0;
    transition: all .4s linear;
}

.home-arrow-up{
    font-size: .55rem;
    font-weight: 100;
    padding: 10px 5px;
    background-color: #13b1cd;
    color: #fff;
    opacity: .88;
    position: absolute;
    border-radius: 50px;
    bottom: 1%;
    right: 3%;
    z-index: 111;
    transition: all .4s linear;
    scroll-behavior: smooth;
}